<div class="panel panel-default">
  <div class="panel-heading" style= "border: 0px solid;
    border-radius: 0px;
    background-color: Maroon;
    color: White">
    Edit event
  </div>

  <div class="panel-body" style= "background-color: Maroon;">
    <br/>
    <%= render 'form' %>
  </div>
</div>
