// application.scss

@import "bootstrap-sprockets";
@import "bootstrap";

// * {
// background-color: White;
// }


body {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /*Standard*/
}
* {
  color: Black;
  text-align: center;
}

.panel-default > .panel_heading {
  background-color: Green
}
