// application.scss

@import "bootstrap-sprockets";
@import "bootstrap";

* {
background-color: White;
}
* {
  color: Black;
  text-align: center;
}

.panel-default > .panel_heading {
  background-color: Green
}
